<!--The content below is only a placeholder and can be replaced.-->
<div class = "whole-body">

  <h1 class="titlePage">
    TODO List!
  </h1>
  <p class="subtitle">
    A place to store all the things you need to do!
  </p>
  <input type="text" placeholder="Filter Your Todos!" (keyup)="filterItems($event)">
  <h3 *ngFor="let todo of filteredTodoObjects; index as i" [ngClass]="{'task-complete': todo.completed}">
    {{i+1}}.
    <button (click) = "completedTask(i)" *ngIf="!todo.completed" class="completeBtn">Complete</button>
    {{todo.task}}
    <button class="deleteBtn" type="button" (click) = "removeTask(i)"> X </button>
  </h3>

  <input type="text" #newItem placeholder="Add to your to-do list!">
  <button type="button" (click) = "addItem(newItem.value)" id="addBtn">Add</button>

</div>

